/* All the CSS rules go here */

:root {
  --swiper-pagination-color: #b3ff00 !important;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #ff8b00 !important;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

body {
  /* width: 1440px; */
  font-family: Poppins;
}

.top-bar-wrapper {
  height: 34px;
  background: #4c367e;
}
.top-bar-wrapper a {
  color: white;
  text-decoration: none;
}
a.nav-link.active {
  border-bottom: 1px solid #17a43b;
  color: #17a43b !important;
}
.d-flex.mal-scocail-wap {
  background: #fd7e14;
  height: 44px;
  text-align: center;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

text.icon-regular-text {
  padding-left: 79px;
}

img.image-icon {
  padding-left: 118px;
  padding-top: 4px;
}

.icon-bold-text {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 49px;
}

.logo-n-nav-bar-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  padding-left: 134px;
  padding-top: 52px;
}

.nav-bar ul {
  list-style: none; /* Remove default list styling */
}

.nav-bar li {
  display: inline-block; /* Display list items horizontally */
  margin-right: 72px; /* Adjust spacing between list items if needed */
}

li {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-bar a.active {
  color: #17a43b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
}

.home-header {
  background: linear-gradient(0deg, #4c367e -9.15%, rgba(0, 0, 0, 0) 100%),
    url(../images/close-up-people-graduating.png);
  background-size: cover;
  background-position: center;
  height: 684px;
  display: flex;
  align-items: center;
}

.text-wrapper-home-screen {
  display: flex;
  flex-direction: column;
}

text.regular-text-home {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

text.bold-text-home {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.line-image {
  padding-top: 25px;
}

.double-color-rectangle {
  margin-top: 43px;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff8b00 50%, #ffffff 50%);
  width: 299px;
  margin-bottom: 111px;
}

text.double-color-rectangle-text {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 30px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.home-screen-three-points {
  margin-left: 192px;
  margin-top: 109px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 98px;
  justify-content: space-around;
}

.mouse-point text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.certificate-point text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.branch-point text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mouse-point img {
  width: 62px;
  height: 67px;
}

.mouse-point {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  column-gap: 13px;
}

.branch-point img {
  width: 62px;
  height: 67px;
}

.certificate-point img {
  width: 62px;
  height: 67px;
}

.home-screen-three-points {
  margin-left: 192px;
  margin-top: 109px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ecliplse-up-arrow {
  background-image: url('../images/Ellipse\ 2.png'); /* Replace with the actual path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  width: 48px;
  height: 48px;
  margin-right: 28px;
  position: relative;
}

.home-screen-three-points-text-section {
  display: flex;
  flex-direction: column;
}

.branch-point {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
}

.certificate-point {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 13px;
}

.text-section-about-us text {
  color: #4c367e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-section-about-us {
  margin-top: 48px;
  /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
}

span.services-text {
  color: #17a43b;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p.bold-text {
  color: #000;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

text.about-us-agency-text {
  margin-top: 28px;
}

img.about.us.break.line {
  width: 167px;
  height: 5px;
}

.bout-us-div-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 90px;
}

.about-us-button {
  width: 187px;
  height: 53px;
  border-radius: 40px;
  background: #ff8b00;
  margin-top: 85px;
}

text.button-text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 139.9%;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 13px;
  padding-bottom: 12px;
  position: absolute;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 18px;
  margin-right: 100px;
}

.image-wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-set {
  margin-top: 55px;
}

.overseas {
  background: linear-gradient(rgba(76, 54, 126, 0.6), rgba(76, 54, 126, 0.6)),
    url('../images/2687446_9267\ 1.png');
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  height: 1027px;
}

.text-section-our-services {
  padding-top: 40px;
  padding-bottom: 30px;
}

text.overseas-text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-section {
  margin-left: 100px;
  margin-top: 48px;
  margin-bottom: 138px;
  margin-right: 100px;
}

img.card-img-top {
  padding-top: 16px;
  padding-left: 103px;
  padding-right: 103px;
}

text.card-title {
  color: #383838;
  font-family: Inter;
  font-size: 13.138px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 13px;
}

.card-title.wrapper {
  margin-top: 13px;
  margin-left: 69px;
  margin-right: 69px;
}

p.card-text {
  padding-top: 34px;
  padding-left: 11px;
  padding-right: 24px;
  padding-bottom: 27px;
  color: #383838;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 87px;
}

.reasons-card-wrapper {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 33px;
  column-gap: 24px;
  justify-content: space-between;
}
.reason-card {
  border-radius: 10px;
  border: 1px solid #535353;
  background: #fff;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.3s ease;
}

.reason-card:hover {
  background-color: #4c367e; /* Background color on hover */
}

.card {
  width: 18rem;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.card:hover {
  background-color: #ff8b00; /* Background color on hover */
}

p.reason-text {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 64px;
  padding-left: 26px;
}

img.interviews {
  padding-bottom: 47px;
  padding-left: 56px;
}

.choose-us-bottom-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 66px;
}

.choose-us-bottom-text {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.182px;
  padding-top: 33px;
}

.number-count-wrapper {
  background: linear-gradient(rgba(23, 164, 59, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/chat-people-background.png');
  background-size: cover;
  background-position: center;
  height: 361px;
}

.number-count-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
}

.number-count-wrapper text {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 139.9%;
  padding-bottom: 58px;
}

.number-count-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-count-images-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 319px;
  margin-right: 314px;
  margin-top: 59px;
}

p.number-count-number {
  color: #fff;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.university-images-wrapper {
  margin-top: 71px;
  margin-bottom: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p.number-count-text {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img.policy {
  width: 78px;
  height: 73px;
}

.uni::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1; /* Ensure the overlay is above the image */
}

.uni img {
  display: block;
  width: 100%;
  height: auto;
  z-index: 2; /* Ensure the image is above the overlay */
}

.testimonials-wrapper {
  background: linear-gradient(rgba(76, 54, 126, 0.8), rgba(76, 54, 126, 0.8)),
    url('../images/chat-people-background.png');
  background-size: cover;
  background-position: center;
  height: 783px;
}

/* new */
@media (min-width: 1400px) {
  .footer-down .custom-conatiner {
    max-width: 1440px !important;
    width: 90% !important;
  }
  .custom-conatiner {
    max-width: 1440px !important;
    width: 90% !important;
  }
}
.btm-row {
  padding-top: 20px;
  padding-bottom: 10px;
}
.homeScreen {
  background-image: url('../images/Rectangle\ 18.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  height: 100vh;
}

.overseas-custom-container {
  background: linear-gradient(rgba(76, 54, 126, 0.6), rgba(76, 54, 126, 0.6)),
    url('../images/2687446_9267\ 1.png');

  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Center the background image */
  /* height: 1027px; */
  position: relative;
}

.overseas-custom-container::after {
  background: url('../images/ifel.png');
  content: '';
  width: 100%;
  height: 831px;
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.overseas-inner-wrapper {
  z-index: 99;
}

.overseas-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-content: space-between;
  grid-row-gap: 87px;
}
.col-12.col-lg-8.form-container {
  overflow: hidden;
}
p.double-color-rectangle-text {
  padding-left: 20px;
  padding-top: 9px;
  padding-right: 20px;
  text-align: center;
  padding-bottom: 9px;
}

@media (max-width: 600px) {
  .reason-card {
    margin-bottom: 20px;
  }
  p.powerd {
    float: unset;
  }
  text.bold-text-home {
    font-size: 35px !important;
  }
  .image-wrapper img {
    width: 100%;
    padding-bottom: 40px;
    max-width: 123px;
  }
  .form-input {
    width: 334px !important;
  }
  .submit-button {
    width: 334px !important;
  }
  .uni-container img {
    width: 100%;
    max-width: 50px !important;
  }
  .overseas-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    padding: 20px;
    justify-content: space-between;
    grid-row-gap: 20px !important;
  }
  .accreditation-description-wrapper {
    padding-top: 543px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 20px !important;
    height: unset;
  }
}

@media (max-width: 992px) {
  .number-count-wrapper {
    height: unset !important ;
  }
  .testimonials-wrapper {
    height: unset !important ;
  }
  .header .container-fluid {
    align-items: center !important;
    justify-content: center !important;
  }
  .top-sction.top-bar-wrapper {
    display: none;
  }
  .uni-container img {
    width: 100%;
    max-width: 162px;
  }

  .overseas-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    justify-content: space-between;
    grid-row-gap: 87px;
  }
}

.navigation-item {
  padding-left: 55px;
}

.navText:active,
.nav-item.active .navText {
  color: #17a43b; /* Color for the active link */
  text-decoration: underline; /* Add underline to active state */
}

.navbar-nav {
  padding-top: 25px;
}

.home-screen-three-points-text-section {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.col-lg-4.home-screen-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  column-gap: 25px;
}

.uni-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 70px;
}

.universities {
  max-width: 100%;
  height: auto;
}

.university-wrapper {
  position: relative;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000cc;
  opacity: 0; /* Initially set to fully transparent */
  transition: opacity 0.3s ease-in-out; /* Add a smooth transition effect */
}

.university-wrapper:hover .overlay {
  opacity: 1; /* On hover, make the overlay fully visible */
}

.testimonial-container {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.testimonial-polygon {
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 46px solid #fff;
  z-index: 1;
}

.checked {
  color: orange;
}

.quote-icon {
  font-size: 44px;
  margin-left: 137px;
  color: #4c367e;
}

i.fa.fa-quote-left.quote-style {
  /* background: #4C367E; */
  color: #4c367e;
}

.stars {
  display: flex;
  align-items: center;
}

.stars .fa-star {
  color: #ffd700;
  font-size: 24px;
}

.rate-number {
  margin-left: 10px;
  margin-top: 15px;
}

.avatar1 {
  margin-left: 128px;
  margin-right: 22px;
}

p.bold-name {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 139.9%;
}

p.dummy-text {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.9%;
}

.swiper-testimonial {
  padding: 100px 20px;
  padding-top: 30px;
}

.text-section-register-form {
  /* margin-left: 100px; */
  display: flex;
  flex-direction: column;
  padding-bottom: 82px;
}

.text-section-register-form text {
  color: #4c367e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.acc-oer-1 {
  position: relative;
}
.row.rw-backgroud-puple {
  min-height: 500px;
}

.accreditation-description-wrapper {
  padding-top: 50px;
  padding-left: 60px;
}

.accreditation-image {
  position: absolute;
  left: 0;
  width: 100%;
}
label.label-text {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 200px;
  padding-top: 12px;
  padding-bottom: 5px;
}
.rw-backgroud-puple {
  background: #4c367e;
}

.form-input {
  border-radius: 10px;
  border-color: #ffffff;
  width: 413px;
  height: 50px;
  flex-shrink: 0;
  background: #d9d9d9;
}

.column-wrapper {
  display: flex;
}
.col-ls-form-sec {
  padding-top: 108px;
  padding-bottom: 108px;
}
.submit-button {
  border-radius: 10px;
  background: #ff9600;
  width: 413px;
  height: 50px;
  flex-shrink: 0;
  margin-top: 36px;
}

p.overseas-text {
  color: #4c367e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.accreditation-image {
  background: linear-gradient(rgba(76, 54, 126, 0.8), rgba(76, 54, 126, 0.8)),
    url('../images/chat-people-background.png');
  background-size: cover;
  background-position: center;
  height: 500px;
}

p.accredition-topic {
  color: #fff;
  font-family: Poppins;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p.accredition-description {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.9%;
}
.footer {
  background-color: #383838;
  padding-top: 100px;
}

.footer p {
  color: #d9d9d9;
}
.list-options {
  display: flex;
  column-gap: 13px;
  align-items: center;
  align-content: center;
}
.footer ul {
  padding: 0 !important;
}
.global-accomadatrion-section {
  padding-bottom: 108px;
}
.arrow-style {
  color: #ff9600 !important;
}
p.list-topic {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}
.footer-down {
  background: #000;
}

p.powerd {
  float: right;
  color: #ffffff;
}
.all-write {
  float: left;
  color: #ffffff;
}
.d-flex.mal-location-li-wap {
  column-gap: 15px;
}
.d-flex.mal-location-li-wap a:first-child {
  padding-right: 15px;
  border-right: 1px solid #d9d9d9;
}
.d-flex.mal-location-li-wap a:nth-child(2) {
  border-right: 1px solid #d9d9d9;
  padding-right: 15px;
}
.d-flex.mal-location-li-wap {
  height: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 28px;
}
.d-flex.mal-location-wap {
  column-gap: 80px;
}
img.logs {
  width: 54px;
  height: 27px;
}
.send-email {
  width: 299px;
  height: 48px;
  border-radius: 6px;
  background: #fff;
}
p.email-text {
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 16px;
  padding-top: 12px;
  padding-left: 29px;
}

.swiper-custom-slider-class.swiper-pagination-bullet-active {
  background-color: #ff8b00; /* Set background color to transparent */
  box-shadow: 0 0 0 1px #4c367ecc, 0 0 0 3px #ff8b00; /* Adjust the size and color of the shadow */
  width: 8px; /* Adjust the width of the active dot */
  height: 8px; /* Adjust the height of the active dot */
  border-radius: 50%; /* Ensure the dot remains circular */
}
.name-contents.d-flex {
  margin-top: 28px;
  margin-bottom: 68px;
}
